<div class="problem">
  <ul *ngFor="let problem of controlService.problems.problems">
      <li>
        <div class="question">
           <p>{{problem.id}}. {{problem.problem_text}}</p>
        </div>

        <div class="answer">
          <ul>
            <li *ngFor="let choice of problem.choices|stringToArray let i=index">
              <input type="radio" name={{problem.id}} (click)="controlService.selected(i, choice, problem.id)">{{choice}}
            </li>
          </ul>
          <textarea *ngIf="!problem.choices"></textarea>
        </div>
      </li>
  </ul>
</div>


